page-home {
  .messages {
    display: flex;
    flex-direction: column;

    .msg-sent {
      align-self: flex-end;

      .username {
        text-align: right;
      }
      .content {
        background-color: blue;
      }
    }

    .msg-received {
      align-self: flex-start;
      .content {
        background-color: red;
      }
    }

    .username {
    }

    .content {
      border-radius: 16px;
      padding: 16px 32px;
    }
  }

  .footer {
    z-index: 10000;
    position: absolute !important;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: lightgray;
    padding: 0 16px;
  }

  .buzzing {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  }

  @keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}
